In [1]:
import numpy as np
import pandas as pd

import funpymodeling

In [2]:
# Para este caso nos interesa visualizar todas las columnas
pd.set_option('display.max_columns', None)

In [3]:
df_data = pd.read_csv("data/water_potability.csv", sep=',')

In [4]:
print(df_data.columns)
print(df_data.shape)

Index(['ph', 'Hardness', 'Solids', 'Chloramines', 'Sulfate', 'Conductivity',
       'Organic_carbon', 'Trihalomethanes', 'Turbidity', 'Potability'],
      dtype='object')
(3276, 10)

In [5]:
df_data

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
...,...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3272,7.808856,193.553212,17329.802160,8.061362,NaN,392.449580,19.903225,NaN,2.798243,1
3273,9.419510,175.762646,33155.578218,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1
3274,5.126763,230.603758,11983.869376,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1
3275,7.874671,195.102299,17404.177061,7.509306,NaN,327.459760,16.140368,78.698446,2.309149,1

Preparamos la data

In [6]:
funpymodeling.status(df_data)

          variable  q_nan     p_nan  q_zeros   p_zeros  unique     type
0               ph    491  0.149878        1  0.000305    2785  float64
1         Hardness      0  0.000000        0  0.000000    3276  float64
2           Solids      0  0.000000        0  0.000000    3276  float64
3      Chloramines      0  0.000000        0  0.000000    3276  float64
4          Sulfate    781  0.238400        0  0.000000    2495  float64
5     Conductivity      0  0.000000        0  0.000000    3276  float64
6   Organic_carbon      0  0.000000        0  0.000000    3276  float64
7  Trihalomethanes    162  0.049451        0  0.000000    3114  float64
8        Turbidity      0  0.000000        0  0.000000    3276  float64
9       Potability      0  0.000000     1998  0.609890       2    int64

In [7]:
ph_cat = pd.qcut(df_data['ph'], q=5)

In [8]:
ph_cat

0                   NaN
1       (-0.001, 5.822]
2        (7.437, 8.311]
3         (8.311, 14.0]
4         (8.311, 14.0]
             ...
3271    (-0.001, 5.822]
3272     (7.437, 8.311]
3273      (8.311, 14.0]
3274    (-0.001, 5.822]
3275     (7.437, 8.311]
Name: ph, Length: 3276, dtype: category
Categories (5, interval[float64, right]): [(-0.001, 5.822] < (5.822, 6.702] < (6.702, 7.437] < (7.437, 8.311] < (8.311, 14.0]]

In [9]:
sulfate_cat = pd.qcut(df_data['Sulfate'], q=5)

In [10]:
sulfate_cat

0       (367.369, 481.031]
1                      NaN
2                      NaN
3       (342.095, 367.369]
4       (301.074, 323.531]
               ...
3271    (342.095, 367.369]
3272                   NaN
3273                   NaN
3274                   NaN
3275                   NaN
Name: Sulfate, Length: 3276, dtype: category
Categories (5, interval[float64, right]): [(128.999, 301.074] < (301.074, 323.531] < (323.531, 342.095] < (342.095, 367.369] < (367.369, 481.031]]

In [11]:
trihalomethanes_cat = pd.qcut(df_data['Trihalomethanes'], q=5)

In [12]:
trihalomethanes_cat

0        (79.701, 124.0]
1       (53.107, 62.656]
2       (62.656, 70.446]
3        (79.701, 124.0]
4        (0.737, 53.107]
              ...
3271    (62.656, 70.446]
3272                 NaN
3273    (62.656, 70.446]
3274    (70.446, 79.701]
3275    (70.446, 79.701]
Name: Trihalomethanes, Length: 3276, dtype: category
Categories (5, interval[float64, right]): [(0.737, 53.107] < (53.107, 62.656] < (62.656, 70.446] < (70.446, 79.701] < (79.701, 124.0]]

In [13]:
df_data['ph'] = ph_cat
df_data['Sulfate'] = sulfate_cat
df_data['Trihalomethanes'] = trihalomethanes_cat

In [14]:
funpymodeling.status(df_data)

          variable  q_nan     p_nan  q_zeros  p_zeros  unique      type
0               ph    491  0.149878        0  0.00000       5  category
1         Hardness      0  0.000000        0  0.00000    3276   float64
2           Solids      0  0.000000        0  0.00000    3276   float64
3      Chloramines      0  0.000000        0  0.00000    3276   float64
4          Sulfate    781  0.238400        0  0.00000       5  category
5     Conductivity      0  0.000000        0  0.00000    3276   float64
6   Organic_carbon      0  0.000000        0  0.00000    3276   float64
7  Trihalomethanes    162  0.049451        0  0.00000       5  category
8        Turbidity      0  0.000000        0  0.00000    3276   float64
9       Potability      0  0.000000     1998  0.60989       2     int64

In [15]:
# Agregamos la categoria 'desconocido' a las categorias de la columna 'ph', 'Sulfate', 'Trihalomethanes'
df_data['ph'] = df_data['ph'].cat.add_categories("desconocido")
df_data['Sulfate'] = df_data['Sulfate'].cat.add_categories("desconocido")
df_data['Trihalomethanes'] = df_data['Trihalomethanes'].cat.add_categories("desconocido")

In [16]:
# Rellenamos los NaN con el valor 'desconocido'
df_data['ph'] = df_data['ph'].fillna(value="desconocido")
df_data['Sulfate'] = df_data['Sulfate'].fillna(value="desconocido")
df_data['Trihalomethanes'] = df_data['Trihalomethanes'].fillna(value="desconocido")

In [17]:
funpymodeling.status(df_data)

          variable  q_nan  p_nan  q_zeros  p_zeros  unique      type
0               ph      0    0.0        0  0.00000       6  category
1         Hardness      0    0.0        0  0.00000    3276   float64
2           Solids      0    0.0        0  0.00000    3276   float64
3      Chloramines      0    0.0        0  0.00000    3276   float64
4          Sulfate      0    0.0        0  0.00000       6  category
5     Conductivity      0    0.0        0  0.00000    3276   float64
6   Organic_carbon      0    0.0        0  0.00000    3276   float64
7  Trihalomethanes      0    0.0        0  0.00000       6  category
8        Turbidity      0    0.0        0  0.00000    3276   float64
9       Potability      0    0.0     1998  0.60989       2     int64

In [18]:
df_data_2 = pd.get_dummies(df_data)

In [19]:
df_data_2

,Hardness,Solids,Chloramines,Conductivity,Organic_carbon,Turbidity,Potability,"ph_(-0.001, 5.822]","ph_(5.822, 6.702]","ph_(6.702, 7.437]","ph_(7.437, 8.311]","ph_(8.311, 14.0]",ph_desconocido,"Sulfate_(128.999, 301.074]","Sulfate_(301.074, 323.531]","Sulfate_(323.531, 342.095]","Sulfate_(342.095, 367.369]","Sulfate_(367.369, 481.031]",Sulfate_desconocido,"Trihalomethanes_(0.737, 53.107]","Trihalomethanes_(53.107, 62.656]","Trihalomethanes_(62.656, 70.446]","Trihalomethanes_(70.446, 79.701]","Trihalomethanes_(79.701, 124.0]",Trihalomethanes_desconocido
0,204.890455,20791.318981,7.300212,564.308654,10.379783,2.963135,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0
1,129.422921,18630.057858,6.635246,592.885359,15.180013,4.500656,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
2,224.236259,19909.541732,9.275884,418.606213,16.868637,3.055934,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0
3,214.373394,22018.417441,8.059332,363.266516,18.436524,4.628771,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0
4,181.101509,17978.986339,6.546600,398.410813,11.558279,4.075075,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3271,193.681735,47580.991603,7.166639,526.424171,13.894419,4.435821,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
3272,193.553212,17329.802160,8.061362,392.449580,19.903225,2.798243,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1
3273,175.762646,33155.578218,7.350233,432.044783,11.039070,3.298875,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0
3274,230.603758,11983.869376,6.303357,402.883113,11.168946,4.708658,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0
3275,195.102299,17404.177061,7.509306,327.459760,16.140368,2.309149,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0

In [20]:
funpymodeling.status(df_data_2)

,variable,q_nan,p_nan,q_zeros,p_zeros,unique,type
0,Hardness,0,0.0,0,0.000000,3276,float64
1,Solids,0,0.0,0,0.000000,3276,float64
2,Chloramines,0,0.0,0,0.000000,3276,float64
3,Conductivity,0,0.0,0,0.000000,3276,float64
4,Organic_carbon,0,0.0,0,0.000000,3276,float64
5,Turbidity,0,0.0,0,0.000000,3276,float64
6,Potability,0,0.0,1998,0.609890,2,int64
7,"ph_(-0.001, 5.822]",0,0.0,2719,0.829976,2,uint8
8,"ph_(5.822, 6.702]",0,0.0,2719,0.829976,2,uint8
9,"ph_(6.702, 7.437]",0,0.0,2719,0.829976,2,uint8
10,"ph_(7.437, 8.311]",0,0.0,2719,0.829976,2,uint8
11,"ph_(8.311, 14.0]",0,0.0,2719,0.829976,2,uint8
12,ph_desconocido,0,0.0,2785,0.850122,2,uint8
13,"Sulfate_(128.999, 301.074]",0,0.0,2777,0.847680,2,uint8
14,"Sulfate_(301.074, 323.531]",0,0.0,2777,0.847680,2,uint8
15,"Sulfate_(323.531, 342.095]",0,0.0,2777,0.847680,2,uint8
16,"Sulfate_(342.095, 367.369]",0,0.0,2777,0.847680,2,uint8
17,"Sulfate_(367.369, 481.031]",0,0.0,2777,0.847680,2,uint8
18,Sulfate_desconocido,0,0.0,2495,0.761600,2,uint8
19,"Trihalomethanes_(0.737, 53.107]",0,0.0,2653,0.809829,2,uint8
20,"Trihalomethanes_(53.107, 62.656]",0,0.0,2653,0.809829,2,uint8
21,"Trihalomethanes_(62.656, 70.446]",0,0.0,2654,0.810134,2,uint8
22,"Trihalomethanes_(70.446, 79.701]",0,0.0,2653,0.809829,2,uint8
23,"Trihalomethanes_(79.701, 124.0]",0,0.0,2653,0.809829,2,uint8
24,Trihalomethanes_desconocido,0,0.0,3114,0.950549,2,uint8

SeparaciÃ³n de X de Y para entrenamiento

In [21]:
data_x = df_data_2.drop('Potability', axis=1)
data_y = df_data_2['Potability']

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
# Spliteamos el dataset
x_train, x_test, y_train, y_test = train_test_split(
    data_x, data_y, test_size=0.3,
)

In [24]:
x_train

,Hardness,Solids,Chloramines,Conductivity,Organic_carbon,Turbidity,"ph_(-0.001, 5.822]","ph_(5.822, 6.702]","ph_(6.702, 7.437]","ph_(7.437, 8.311]","ph_(8.311, 14.0]",ph_desconocido,"Sulfate_(128.999, 301.074]","Sulfate_(301.074, 323.531]","Sulfate_(323.531, 342.095]","Sulfate_(342.095, 367.369]","Sulfate_(367.369, 481.031]",Sulfate_desconocido,"Trihalomethanes_(0.737, 53.107]","Trihalomethanes_(53.107, 62.656]","Trihalomethanes_(62.656, 70.446]","Trihalomethanes_(70.446, 79.701]","Trihalomethanes_(79.701, 124.0]",Trihalomethanes_desconocido
2840,211.286342,26951.862653,7.510776,638.000182,13.942812,3.160917,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0
979,183.161853,20335.676510,6.028559,475.296471,18.248098,3.287244,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0
2028,203.396227,21403.002048,7.623242,424.328740,16.949811,3.612260,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0
520,203.505921,21417.593615,6.072638,348.527321,12.612966,4.613579,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0
1977,206.294901,25794.950190,7.794727,485.254430,15.574877,4.742967,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1755,191.150479,23172.281510,7.132154,365.140579,12.679501,4.018447,0,0,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,0
1499,219.143373,16078.459386,7.652135,282.502338,17.297556,3.360131,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
1577,213.428269,11246.426646,8.208678,341.716459,15.669955,5.185000,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0
2475,141.622395,44499.728710,8.260928,534.711455,15.350873,3.926599,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
591,177.294949,16532.828822,10.096588,466.649420,6.776146,4.306113,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0

In [25]:
x_test

,Hardness,Solids,Chloramines,Conductivity,Organic_carbon,Turbidity,"ph_(-0.001, 5.822]","ph_(5.822, 6.702]","ph_(6.702, 7.437]","ph_(7.437, 8.311]","ph_(8.311, 14.0]",ph_desconocido,"Sulfate_(128.999, 301.074]","Sulfate_(301.074, 323.531]","Sulfate_(323.531, 342.095]","Sulfate_(342.095, 367.369]","Sulfate_(367.369, 481.031]",Sulfate_desconocido,"Trihalomethanes_(0.737, 53.107]","Trihalomethanes_(53.107, 62.656]","Trihalomethanes_(62.656, 70.446]","Trihalomethanes_(70.446, 79.701]","Trihalomethanes_(79.701, 124.0]",Trihalomethanes_desconocido
2693,181.080656,30050.439446,7.975631,378.154234,17.674565,3.522486,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1
1650,116.061950,22465.687557,5.000451,408.360199,6.732794,4.246446,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0
1715,193.577157,19671.351229,7.568897,322.735685,18.511586,3.481517,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0
3103,187.085084,30846.585474,7.281106,323.962695,12.651854,3.914544,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0
890,175.008276,15340.951839,6.144845,579.461824,11.915740,4.531659,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1046,197.562665,27430.441731,6.035087,397.684986,19.394027,3.178004,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
1243,172.383878,13122.223422,5.276731,413.545047,11.871725,2.203841,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0
141,167.386127,20944.620814,4.963124,566.339294,11.318807,3.679795,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1
534,160.496448,27218.821976,11.543190,303.256343,16.569391,3.665206,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0
18,279.357167,19460.398131,6.204321,431.443990,12.888759,2.436086,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0

Creamos y entrenamiento del modelo

In [26]:
from sklearn.ensemble import RandomForestClassifier

In [27]:
# Creamos 1000 decision trees
rf_model = RandomForestClassifier(n_estimators=1000, random_state=99)

In [28]:
%%time

rf_model.fit(x_train, y_train)

CPU times: total: 14.3 s
Wall time: 14.8 s

RandomForestClassifier(n_estimators=1000, random_state=99)

Calculamos algunas metricas del modelo entrenado

In [29]:
# En training (por defecto asume 0.5 como punto de corte)
pred_tr = rf_model.predict(x_train)

In [30]:
# En testing (por defecto asume 0.5 como punto de corte)
pred_ts = rf_model.predict(x_test)

In [31]:
from pprint import pprint

from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [32]:
train_metrics = {
    'accuracy': accuracy_score(y_train, pred_tr, normalize=True),
    'precision': precision_score(y_train, pred_tr),
    'recall': recall_score(y_train, pred_tr),
    'f1_score': f1_score(y_train, pred_tr),
}

pprint(train_metrics)

{'accuracy': 1.0, 'f1_score': 1.0, 'precision': 1.0, 'recall': 1.0}

In [33]:
test_metrics = {
    'accuracy': accuracy_score(y_test, pred_ts, normalize=True),
    'precision': precision_score(y_test, pred_ts),
    'recall': recall_score(y_test, pred_ts),
    'f1_score': f1_score(y_test, pred_ts),
}

pprint(test_metrics)

{'accuracy': 0.6510681586978637,
 'f1_score': 0.38859180035650626,
 'precision': 0.5860215053763441,
 'recall': 0.2906666666666667}

Guardamos el modelo entrenado

In [45]:
import pickle

# Guardar en el disco
filename = 'model/rf.pkl'
pickle.dump(rf_model, open(filename, 'wb'))

In [46]:
# Lo cargamos para usarlo en otro momento. 
rf_loaded = pickle.load(open(filename, 'rb'))

In [47]:
#Â Guardamos las columnas


with open('pickle_files/categories_ohe.pkl', 'wb') as f:
    pickle.dump(data_x.columns, f, protocol=pickle.HIGHEST_PROTOCOL)

In [48]:
data3 = {
    'ph': [7.7984536762012135],
    'Hardness': [188.39494231709176],
    'Solids': [32704.569285770576],
    'Chloramines': [11.078872478914501],
    'Sulfate': [258.1911841475428],
    'Conductivity': [507.1786882733106],
    'Organic_carbon': [18.272439235274646],
    'Trihalomethanes': [85.17766213336226],
    'Turbidity': [4.107267203260775]
}

df3 = pd.DataFrame(data3, index=[0])

In [49]:
with open('pickle_files/categories_ohe.pkl', 'rb') as handle:
    ohe_tr = pickle.load(handle)

In [50]:
ohe_tr

Index(['Hardness', 'Solids', 'Chloramines', 'Conductivity', 'Organic_carbon',
       'Turbidity', 'ph_(-0.001, 5.822]', 'ph_(5.822, 6.702]',
       'ph_(6.702, 7.437]', 'ph_(7.437, 8.311]', 'ph_(8.311, 14.0]',
       'ph_desconocido', 'Sulfate_(128.999, 301.074]',
       'Sulfate_(301.074, 323.531]', 'Sulfate_(323.531, 342.095]',
       'Sulfate_(342.095, 367.369]', 'Sulfate_(367.369, 481.031]',
       'Sulfate_desconocido', 'Trihalomethanes_(0.737, 53.107]',
       'Trihalomethanes_(53.107, 62.656]', 'Trihalomethanes_(62.656, 70.446]',
       'Trihalomethanes_(70.446, 79.701]', 'Trihalomethanes_(79.701, 124.0]',
       'Trihalomethanes_desconocido'],
      dtype='object')

In [51]:
df4= pd.get_dummies(df3).reindex(columns = ohe_tr)
df4

,Hardness,Solids,Chloramines,Conductivity,Organic_carbon,Turbidity,"ph_(-0.001, 5.822]","ph_(5.822, 6.702]","ph_(6.702, 7.437]","ph_(7.437, 8.311]","ph_(8.311, 14.0]",ph_desconocido,"Sulfate_(128.999, 301.074]","Sulfate_(301.074, 323.531]","Sulfate_(323.531, 342.095]","Sulfate_(342.095, 367.369]","Sulfate_(367.369, 481.031]",Sulfate_desconocido,"Trihalomethanes_(0.737, 53.107]","Trihalomethanes_(53.107, 62.656]","Trihalomethanes_(62.656, 70.446]","Trihalomethanes_(70.446, 79.701]","Trihalomethanes_(79.701, 124.0]",Trihalomethanes_desconocido
0,188.394942,32704.569286,11.078872,507.178688,18.272439,4.107267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
# Reemplazar el valor en la columna 'ph_(7.437, 8.311]' por 1
df4['ph_(7.437, 8.311]'] = 1
df4['Sulfate_(128.999, 301.074]'] = 1
df4['Trihalomethanes_(79.701, 124.0]'] = 1
df4= df4.fillna(0)
df4

,Hardness,Solids,Chloramines,Conductivity,Organic_carbon,Turbidity,"ph_(-0.001, 5.822]","ph_(5.822, 6.702]","ph_(6.702, 7.437]","ph_(7.437, 8.311]","ph_(8.311, 14.0]",ph_desconocido,"Sulfate_(128.999, 301.074]","Sulfate_(301.074, 323.531]","Sulfate_(323.531, 342.095]","Sulfate_(342.095, 367.369]","Sulfate_(367.369, 481.031]",Sulfate_desconocido,"Trihalomethanes_(0.737, 53.107]","Trihalomethanes_(53.107, 62.656]","Trihalomethanes_(62.656, 70.446]","Trihalomethanes_(70.446, 79.701]","Trihalomethanes_(79.701, 124.0]",Trihalomethanes_desconocido
0,188.394942,32704.569286,11.078872,507.178688,18.272439,4.107267,0.0,0.0,0.0,1,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0

In [53]:
rf_model.predict(df4)

array([1], dtype=int64)